{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
Добро пожаловать в интернет-магазин Беларусианин
{% endblock %}
{% block content %}
<h1 align="center">Главная страница интернет-магазина Беларусианин</h1>
  <style type="text/css">
    table, td, tr {margin:0; padding:0; text-align:center; color:#ccc; vertical-align: top;}
    .main-table {      width:100%; height:auto;       border:0px solid #ccc;   padding:10px;   }
	.left-table {	  width:100%; 	  height:auto; 	  border:0px solid #ccc;         }
	  .left-td {	    width:100%; height:auto;   text-align: left;        padding: 15px;  }
	.right-table {width:100%; height:auto;border:0px solid #ccc; padding:5px;  background-color: rgba(105, 226, 200, 0.23)	  }
	  .right-td {	    width:30%; 	    height:auto;     background:white;    }
	.bottom-table {	  	  width:100%; 	  height:90px; 	  border:0px solid #ccc; 	  padding:5px; 	  }
	  .bottom-td {	    width:100%; 	    height:90px; 	    }
  </style>
 </head>
 <body>
  <table class="main-table" cellpadding="0" cellspacing="0">
   <tr>
    <td>
     <table class="left-table" cellpadding="0" cellspacing="0">
      <tr>
       <th class="left-td">
           <h2 >Каталог</h2>
            {% if category %}
            <ul >
            {% for cat in category %}
            <li><a href="/catalog/{{ cat.slug }}/">{{ cat.name }}</a></li>
            {% endfor %}
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </ul>

            {% else %}
            <p>Никакие категории не заведены</p>
            {% endif %}
       </th>
      </tr>
     </table>
    </td>
    <td>
     <table class="right-table" cellpadding="0" cellspacing="0">
      <tr>
          <td class="'right-td">
           <div id="main">
                <h1>Сегодня в продаже:</h1>
                <div class="items row">
                    {% for product in products %}
                        <div class="item col-sm-4">
                            <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive"></a>
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                            {{ product.price }} MRC.
                        </div>
                    {% endfor %}
            </div>
            </td>
      </tr>
     </table>
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <table class="bottom-table" cellpadding="0" cellspacing="0">
      <tr>
       <td class="bottom-td">Копирайт. Интернет-магазин Беларусианин. 2017г.</td>
      </tr>
     </table>
    </td>
   </tr>
  </table>

{% endblock %}
