<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last News</title>
</head>
<body>
    <div>
        {% for a in articles %}
        <p>{{a.title}}</p>
        <p>{{a.text}}</p>
        {% endfor %}
    </div>
</body>
</html>