{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <style>
      body {
       background-color:silver;
       color:black;
       margin:0;
       background-image:url(media/background/mars.jpg);
       background-attachment:fixed;
      }
  </style>
  <!-- Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <div class="navbar-default" role="navigation">
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="../media/catalog/logo.jpg"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
				<li><a href="/">Главная</a></li>
                <li><a href="{% url 'catalog:list_all_products' %}">Каталог</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                  {% if cart|length > 0 %}
                    <li><a href="{% url 'cart:open_cart' %}">В корзине {{cart|length}} на сумму {{cart.get_total_price }}</a></li>
                  {% else %}
                    <li ><a href="{% url 'cart:open_cart' %}">В корзине пусто</a></li>
                  {% endif %}
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                {% if user.is_authenticated %}
                <li><a href="/accounts/{{user}}/">Привет, {{user}}</a></li>
                <li><a href="{% url 'userena_signout' %}">Выйти</a></li>
                  {% else %}
                <li><a href="{% url 'userena_signin' %}">Войти</a></li>
                <li><a href="{% url 'userena_signup' %}">Зарегистрироваться</a></li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav> 
      </div>
  <section id="content row" class="container">
    {% block content %}
    {% endblock %}
    {% block content2 %}
    {% endblock %}
  </section>
</body>
</html>