<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blockonomics Web Developer Assignment</title>
</head>
<body>


<form action="/blockonomics/" method="post">
   <label for="name">Your name: </label>
   <input id="name" type="text" name="your_name"
			value="{{ current_name }}">
    <input type="submit" value="OK">
</form>



</body>
</html>