<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

{% extends "catalog/base.html" %}
{% csrf_token %}
{% block title %}Контакты{% endblock title %}
{% block content %}

<div class="contacts">
	<h1>Iнтэрнэт-крама БЕЛАРУСIАНIН</h1>
	<h2>Наш адрас: </h2><p>Планета Марс</p>
	<h2>Тел: </h2><p>+999999 (75) 987-987-987 </p>
	<h2>Як даляцець: </h2>
	<p><img src="image/img1.jpg" width="189" height="255" alt="mars"></p>
	<h2><a href="{% url 'feedback' %}">Даслаць лiст у краму</a></h2>
{% endblock content %}
