<!DOCTYPE html>
<html lang="en">
<!---->
{% extends "catalog/base.html" %}
{% block content %}

<div class="feedback">
	<h1>Iнтэрнэт-крама БЕЛАРУСIАНIН</h1>
	<h2>Форма обратной связи:</h2>
        <!--#выводим наше сообщение, что все прошло успешно-->
	<h3><span style="color: green;">{% if all_is_right %}{{ all_is_right }}{% endif %}</span></h3>
	<form method="post" action="">{% csrf_token %}
		<table>
			<!--# выводим форму в виде таблицы-->
			{{ form }}
		</table><br>
		<center><input type="submit" value="Отправить"></center>
	</form>
</div>
{% endblock content %}